.fundo{
    background-color: #000000da;
    background-image: url("../../Images/mkdg2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: color;
}

.textoTop{
    /* font-family: 'Play', sans-serif;; */
    font-size: 3em;
    color: white;
}
.logo{
    width: 30%;
}
.sociais{
    color: white;
}
.direita{
    /* background-color: #ffffff8e; */
    width: 100%;
    margin: 0;
}
