.transicao{
    background-color: rgba(0, 0, 0, 0.829);
    background-image: url("../../Images/mkdg3.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-blend-mode:color;
    width: 100%;
    height: 20em;
}

.transicao h1::after{
    display: block;
    content: '';
    width: 100px;
    height: 1px;
    margin: 26px auto 0;
    background-color: #fff;
}